xfms/*
spaces/icbm/*
spaces/bigbrain/*obj
spaces/bigbrain/*surf.gii
spaces/fsaverage5/*
spaces/fsaverage/*obj
spaces/fsaverage/*surf.gii
spaces/fs_LR/*surf.gii
spaces/bigbrain/*.mnc
docs/build/*
docs/py*
docs/en*
env/*
